:root{
    --fondo: #427E80;
    --crema: #F0F5E4;
    --gris-oscuro:#2D2D2D;
    --gris-claro:#eeeeee;
    --verde-oscuro:#154454;
}
body{

    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif; 
}
a{
    text-decoration: none;
}
nav a{
    color: var(--fondo);
}
nav a:visited{
    color: var(--fondo);
}
h1{
    color:var(--gris-claro);
    font-size: 3.2rem;
    filter: drop-shadow(.3rem .3rem black);
}
nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 0;


}

.right{
    
    display:flex;
    gap: 1rem;
}
.btn{
    background-color: var(--crema);
    padding: 1rem;
    border-radius: 10%;
    filter: drop-shadow(.2rem .2rem var(--verde-oscuro));
    margin: 0 2rem;
}

.hero{

    background-image: url(./imagenes/codigo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.grey-bg{
    background-color: var(--gris-oscuro);
    padding: 0 2rem;
    margin: 0;
}
.card-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.green-btn{
    background-color: var(--fondo);
    border-radius: 10%;
    filter: drop-shadow(.2rem .2rem var(--verde-oscuro));
    width: fit-content;
    padding: 1rem 1rem;
}

.card{
    background-color: var(--crema);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border: .3rem solid var(--verde-oscuro);

}
.card a{
    color: var(--crema);
}
.card img{
    width: 100%;
}
.card p{
    text-align: center;
}
.contenido h2{
text-align: center;
font-size: 3rem;
color: white;
margin-bottom: 20rem;
}

.card-section{
    margin-bottom: 30rem;
}

.svg-graphic{
    position: absolute;
    top: 5px;
    left: 30px;
    
}

.pc{
    animation-name: trans;
    animation-duration: 2s;
}
@keyframes trans {
   from{fill: #3f6797;
    transform: translateY(-10px);
}
   to {fill: #b1d5e4;
    transform: translateY(0px);
}
  }

.right > a:active{
    transform: translate(3px,3px);
}
.container-one {

    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}
.container-two{

    display: flex;
    justify-content: center;
    align-items: center;
}
.rompe-casilla{
    width: 270px;
    height:512px; 
    border: 2px solid black;
}
.rompecabezas > h2{
    color: var(--crema);
    text-align: center;
    font-size: 3.2rem;
}

.rompecabezas{
    text-align: center;
}
.rompecabezas > .btn{
padding: 1rem 3.9rem;
margin: 2rem 0
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--gris-oscuro);
    color:white;
}
.read {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.read > h2{
    font-size: 4rem;
    color: white;
}
.read > .tarjeta{
    font-size: 2rem;
    padding: 2rem 2rem;
}
.video-title{
    color: white;
    font-size: 4rem;
    text-align: center;
}
#video-historia{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.section-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-botonera{
    display: flex;
    width: 70%;
    background-color: #2D2D2D;
    margin-bottom: 2rem;
}
.botonera img{
    margin: .5rem 1.2rem;
}
.botonera{
    width: 5%;
    height: auto;
    background-color: #eeeeee;
    margin:.2rem 2rem;
    border-radius: 10%;
}

.botonera:active{
    transform: translate(2px,2px);
}
#duracion{
position:relative;
top: 10px;
right:10px;
color:white;
}